.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 448px;
    height: 174px;
    padding: 16px;
    background-color: white;
    z-index: 2;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.showed {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exitBtn {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background-color: transparent;
    cursor: pointer;
}
