.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000015;
    z-index: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.showed {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
