.popup {
    background-color: #3D3D3D;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    position: absolute;
    box-sizing: border-box;
    z-index: 2;
    transition:
        opacity 0.2s ease,
        visibility 0.2s ease;
}

.showed {
  opacity: 1;
  visibility: visible;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
